@import "./color_schemes/dark";

$link-color: #FDA264;

.windows-screenshot {
  width: 300px;
  height: auto;

}

.help-video {
  min-width: 240px;
  width: 100%;
  height: auto;
  max-width: 720px;
  display: block;
}