@import "./color_schemes/light";

$link-color: $blue-200;

.windows-screenshot {
  width: 300px;
  height: auto;

}

.help-video {
  min-width: 240px;
  width: 100%;
  height: auto;
  max-width: 720px;
  display: block;
}